@{
    ViewBag.Title = "Home Page";
}



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/assests/Carousel 2.jpg" style="width:100%;height: 500px; ">
            <div class="carousel-caption">
                <h3>Fashion</h3>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/assests/Carousel 6.jpg" style="width:100% ;height: 500px;">
            <div class="carousel-caption">
                <h3>Accessories</h3>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/assests/Carousel 4.jpg" style="width:100%; height: 500px;">
            <div class="carousel-caption">
                <h3>Mens Collection</h3>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> <!-- Carousel -->

<div class="center-block"  align="center">
    <div class="col-md-12">
        <h1>New Arrivals </h1>
        <blockquote>
            "Fashion is very important. It is life-enhancing and, like everything that gives pleasure, it is worth doing well."
            <footer> Vivienne Westwood</footer>
        </blockquote>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <img src="~/Content/assests/outfit.jpeg" />
        <h4> Satin Dresses</h4>
        <p><a class="btn btn-default" href="https://localhost:44366/Product">Add to Cart &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <img src="~/Content/assests/JeanPants.jpeg" />
        <h4>Jean Pants</h4>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Add to Cart &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <img src="~/Content/assests/Blouse1.jpeg" style=" height: 220px" />
        <h4>Women Blouse</h4>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Add to Cart &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <img src="~/Content/assests/purse.jpeg" style="width: 100%; height: 220px" />
        <h4>Purses</h4>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Add to Cart &raquo;</a></p>
    </div>
</div>
<div class="center-block" align="center">
    <div class="col-md-12">
        <h1>Genuine Leather Collection </h1>
        <blockquote>
            The right footwear has the power to make you feel confident, empowered and unstoppable.  
            Our genuine leather boots have been awarded five-stars for both comfort and quality.
            We handcraft each pair to fit every woman’s unique needs and shape, without ever having to compromise on style!
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <img src="~/Content/assests/boots.jpeg" style="width:100%" />
        <h2>Thigh High Boots</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Shop Now &raquo;</a></p>
    </div>   

</div>
